[Desktop Entry]
Name=Mousepad
Name[es]=Mousepad
Comment=Simple Text Editor
Comment[es]=Un simple editor de texto
GenericName=Text Editor
GenericName[es]=Editor de texto
Exec=mousepad %F
Icon=org.xfce.mousepad
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;
X-XFCE-Source=file:///usr/share/applications/mousepad.desktop
